[data-title]{
    position: relative;
}
[data-title]::after{
    content: attr(data-title);
    background-color: var(--dark);
    color: var(--white);
    padding: var(--p);
    position: absolute;
    bottom: -75%;
    left: 75%;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
}
[data-title]:hover::after{
    transition: all .25s ease .25s;
    opacity: .75;
    visibility: visible;
}