[data-title]{
    position: relative;
}
[data-title]::after{
    content: attr(data-title);
    display: block;
    background: var(--dark);
    color: var(--white);
    padding: var(--p);
    border-radius: 0px 10px 10px 10px;
    position: absolute;
    top: 100%;
    left: 100%;
    width: auto;
    white-space: nowrap;
    z-index: 1000;
    opacity: 0;
    transition: all .25s ease .25s;
}
[data-title]:hover::after{
    transition: all .25s ease .25s;
    opacity: .75;
}