.img{
    display: block;
    width: 100%;
    position: relative;
    border: var(--border);
    border-radius: var(--border-radius);
    overflow: hidden;
}
.img:hover, .img *:hover{
    filter: none;
}
.img *{
    width: 100%;
}
.img .caption{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    position: absolute;
    bottom: 0;
    height: 35%;
    padding: var(--p);
    background: linear-gradient(to top, #000000 25%, #00000000 100%);
}
.img .caption *{
    color: var(--light);
}