<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/brand/gajo.ico" type="image/x-icon">
    <title>Tabs</title>

    <link rel="stylesheet" href="../basic/general.css">
    <link rel="stylesheet" href="../basic/grid.css">
    <link rel="stylesheet" href="../basic/space.css">
    <link rel="stylesheet" href="../basic/color.css">
    <link rel="stylesheet" href="../basic/text.css">
    <link rel="stylesheet" href="../basic/btn.css">

    <!-- INSERT STYLE -->
    <link rel="stylesheet" href="tabs.css">

</head>
<body>
    
    <!--  -->
    <div class="container">
        <div class="p-6"></div>

        <div class="tab">
            <div class="tab-header">
                <div class="tab-open active" data-target="#tab-content-1">Tab 1</div>
                <div class="tab-open" data-target="#tab-content-2">Tab 2</div>
                <div class="tab-open" data-target="#tab-content-3">Tab 3</div>
            </div>
            <div class="tab-body">
                <div class="tab-content active" id="tab-content-1">
                    <h1>Titulo 1</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab est autem eius sequi cum, quas assumenda necessitatibus explicabo reiciendis eveniet magnam recusandae eligendi repellat porro nulla impedit vitae numquam dolores!</p>
                </div>
                <div class="tab-content" id="tab-content-2">
                    <h1>Titulo 2</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab est autem eius sequi cum, quas assumenda necessitatibus explicabo reiciendis eveniet magnam recusandae eligendi repellat porro nulla impedit vitae numquam dolores!</p>
                </div>
                <div class="tab-content" id="tab-content-3">
                    <h1>Titulo 3</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab est autem eius sequi cum, quas assumenda necessitatibus explicabo reiciendis eveniet magnam recusandae eligendi repellat porro nulla impedit vitae numquam dolores!</p>
                </div>
            </div>
        </div>

        <div class="p-6"></div>

        <div class="tab">
            <div class="tab-header">
                <div class="tab-open" data-target="#tab-content-1">Tab 1</div>
                <div class="tab-open active" data-target="#tab-content-2">Tab 2</div>
                <div class="tab-open" data-target="#tab-content-3">Tab 3</div>
            </div>
            <div class="tab-body">
                <div class="tab-content" id="tab-content-1">
                    <h1>Titulo 1</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab est autem eius sequi cum, quas assumenda necessitatibus explicabo reiciendis eveniet magnam recusandae eligendi repellat porro nulla impedit vitae numquam dolores!</p>
                </div>
                <div class="tab-content active" id="tab-content-2">
                    <h1>Titulo 2</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab est autem eius sequi cum, quas assumenda necessitatibus explicabo reiciendis eveniet magnam recusandae eligendi repellat porro nulla impedit vitae numquam dolores!</p>
                </div>
                <div class="tab-content" id="tab-content-3">
                    <h1>Titulo 3</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab est autem eius sequi cum, quas assumenda necessitatibus explicabo reiciendis eveniet magnam recusandae eligendi repellat porro nulla impedit vitae numquam dolores!</p>
                </div>
            </div>
        </div>

        <div class="p-6"></div>

        <div class="tab">
            <div class="tab-header">
                <div class="tab-open" data-target="#tab-content-1">Tab 1</div>
                <div class="tab-open" data-target="#tab-content-2">Tab 2</div>
                <div class="tab-open active" data-target="#tab-content-3">Tab 3</div>
            </div>
            <div class="tab-body">
                <div class="tab-content" id="tab-content-1">
                    <h1>Titulo 1</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab est autem eius sequi cum, quas assumenda necessitatibus explicabo reiciendis eveniet magnam recusandae eligendi repellat porro nulla impedit vitae numquam dolores!</p>
                </div>
                <div class="tab-content" id="tab-content-2">
                    <h1>Titulo 2</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab est autem eius sequi cum, quas assumenda necessitatibus explicabo reiciendis eveniet magnam recusandae eligendi repellat porro nulla impedit vitae numquam dolores!</p>
                </div>
                <div class="tab-content active" id="tab-content-3">
                    <h1>Titulo 3</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab est autem eius sequi cum, quas assumenda necessitatibus explicabo reiciendis eveniet magnam recusandae eligendi repellat porro nulla impedit vitae numquam dolores!</p>
                </div>
            </div>
        </div>
    </div>

    <!-- INSERT SCRIPT -->
    

</body>
</html>