.article{
    font-size: xx-large;
    position: relative;
    text-align: center;
    padding: calc(var(--p)*5);
}
.article::before{
    content: "\0201f";
    font-family: sans-serif;
    font-size: 15rem;
    position: absolute;
    top: -30px;
    left: -15px;
}
.article::after{
    content: "\0201e";
    font-family: sans-serif;
    font-size: 15rem;
    position: absolute;
    bottom: -30px;
    right: -15px;
}