.navigationDrawer{
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 1;
    padding: calc(var(--p)*2);
}
.navigationDrawer>.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: var(--m);
}
.navigationDrawer>.item{
    width: 100%;
    padding: calc(var(--p)*1);
    cursor: pointer;
    border-bottom: var(--line) dotted var(--gray);
}
.navigationDrawer>.item *{
    display: block;
    width: 100%;
    cursor: pointer;
}
/* FOOTER */
.navigationDrawer>.footer{
    width: 100%;
    margin-top: 100px;
}
.navigationDrawer>.footer>.item{
    text-align: center;
}
/* BURGER BUTTON */
.btnNavigationDrawer{
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 50%;
    z-index: 2;
}
.btnNavigationDrawer>label{
    display: block;
    cursor: pointer;
    padding-right: calc(var(--p)*1.5);
    padding-left: calc(var(--p)*1.5);
    padding-top: calc(var(--p)*3);
    padding-bottom: calc(var(--p)*3);
}
/* ACTIVATE NAVIGATION DRAWER */
#checkNavigationDrawer:checked ~ .navigationDrawer{
    transition: all .5s;
    transform: translateX(300px);
}
#checkNavigationDrawer:not(:checked) ~ .navigationDrawer{
    transition: all .5s;
    transform: translateX(0px);
}
#checkNavigationDrawer:checked ~ .btnNavigationDrawer{
    transition: all .5s;
    transform: translateX(300px) scaleX(-1);
}
#checkNavigationDrawer:not(:checked) ~ .btnNavigationDrawer{
    transition: all .5s;
    transform: translateX(0px);
}
#checkNavigationDrawer:checked ~ body{
    display: block;
}
#checkNavigationDrawer:not(:checked) ~ body{
    display: none;
}
