<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control</title>

    <link rel="stylesheet" href="../basic/general.css">
    <link rel="stylesheet" href="../basic/flex.css">
    <link rel="stylesheet" href="../basic/grid.css">
    <link rel="stylesheet" href="../basic/space.css">
    <link rel="stylesheet" href="../basic/color.css">
    <link rel="stylesheet" href="../basic/text.css">
    <link rel="stylesheet" href="../basic/image.css">
    <link rel="stylesheet" href="../basic/btn.css">

    <!-- INSERT STYLE -->
    <link rel="stylesheet" href="control.css">
</head>
<body>
    
    <!-- Control -->
    <div class="container pt-9">

        <div class="control shadow">
            <div class="control-header">
                <h5>Control</h5>
            </div>
            <div class="control-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, recusandae unde necessitatibus rem labore earum ratione quod modi doloremque. 
                Id ut exercitationem doloribus maxime expedita explicabo necessitatibus cum minima sit?
            </div>
            <div class="control-footer">
                <button class="btn l-red">Cancelar</button>
                <button class="btn l-green">Aceptar</button>
            </div>
        </div>

    </div>

    <!-- INSERT SCRIPT -->
    <script src="../basic/Mandarina.js"></script>

</body>
</html>