@font-face {
    font-family: 'mandarina-posible';
    src:  url('necesario/1.eot');
    src:  url('necesario/2.eot') format('embedded-opentype'),
      url('necesario/3.ttf') format('truetype'),
      url('necesario/4.woff') format('woff'),
      url('necesario/5.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    }

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'mandarina-posible' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\e900";
}
.icon-instagram:before {
    content: "\e901";
}
.icon-linkedin:before {
    content: "\e902";
}
.icon-navbar-icono:before {
    content: "\e903";
}
.icon-youtube:before {
    content: "\e904";
}