<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/brand/gajo.ico" type="image/x-icon">
    <title>Tool</title>

    <link rel="stylesheet" href="../basic/general.css">
    <link rel="stylesheet" href="../basic/flex.css">
    <link rel="stylesheet" href="../basic/grid.css">
    <link rel="stylesheet" href="../basic/space.css">
    <link rel="stylesheet" href="../basic/color.css">
    <link rel="stylesheet" href="../basic/text.css">
    <link rel="stylesheet" href="../basic/image.css">
    <link rel="stylesheet" href="../basic/btn.css">

    <!-- INSERT STYLE -->
    <link rel="stylesheet" href="tool.css">
    
</head>
<body>
    
    <!-- TOOL -->
    <div class="tool">
        <a class="item text-15" href="#">🕵</a>
        <a class="item text-15" href="#">📸</a>
        <a class="item text-15" href="#">📞</a>
        <a class="item text-15" href="#">👽</a>
        <a class="item text-15" href="#">📬</a>
        <a class="item text-15" href="#">🐦</a>
        <p class="item">733 <br> Shares</p>
    </div>

    <!-- TOOL RIGHT -->
    <div class="tool right">
        <a class="item text-15" href="#">🕵</a>
        <a class="item text-15" href="#">📸</a>
        <a class="item text-15" href="#">📞</a>
        <a class="item text-15" href="#">👽</a>
        <a class="item text-15" href="#">📬</a>
        <a class="item text-15" href="#">🐦</a>
        <p class="item">733 <br> Shares</p>
    </div>

    <!-- INSERT SCRIPT -->
    <script src="../basic/Mandarina.js"></script>

</body>
</html>