.tool, .tool.left{
    position: fixed;
    top: 25%;
    border: var(--border);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: var(--shadow);
    z-index: 999999;
    background: var(--white);
}
.tool.right{
    right: 0;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.tool>.item{
    display: block;
    padding: calc(var(--p)*1.5);
    text-align: center;
    filter: none;
    cursor: pointer;
    transition: all .25s;
}
.tool>.item:hover{
    transform: scale(1.25);
    transition: all .25s;
}