.spinner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(248, 248, 248, 0.5);
    z-index: 999;
}
.spinner>.content{
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border-top: 7.5px solid var(--notify);
    border-bottom: 7.5px solid transparent;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
}
.spinner>.mask1, .spinner>.mask2{
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border-top: 7.5px solid var(--notify);
    border-bottom: 7.5px solid transparent;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
}
.spinner.active{
    display: flex;
}
.spinner.active>.content{
    animation-name: spinner;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}
.spinner.active>.mask1{
    animation-name: mask1;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-delay: .15s;
}
.spinner.active>.mask2{
    animation-name: mask2;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-delay: .3s;
}

@keyframes spinner {
    100%{
        transform: rotateZ(360deg);
    }
}
@keyframes mask1 {
    100%{
        transform: rotateZ(360deg);
    }
}
@keyframes mask2 {
    100%{
        transform: rotateZ(360deg);
    }
}