.drawer-open{
    position: absolute;
    left: -100000px;
}
.drawer-open::before{
    content: "\025b6";
    position: fixed;
    top: 50%;
    left: 0;
    display: block;
    cursor: pointer;
    color: var(--notify-text);
    padding-right: calc(var(--p)*1.5);
    padding-left: calc(var(--p)*1.5);
    padding-top: calc(var(--p)*3);
    padding-bottom: calc(var(--p)*3);
    background: var(--notify-bg);
    z-index: 2;
    border-radius: 0 50% 50% 0;
    box-shadow: var(--shadow);
}
.drawer{
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 1;
    padding: calc(var(--p)*2);
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background: var(--white);
}
.drawer>.item{
    display: block;
    width: 100%;
    padding: var(--p);
}

/* ACTIVATE DRAWER */
.drawer.active{
    border: var(--border);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: all .5s;
    transform: translateX(300px);
}
.drawer{
    transition: all .5s;
    transform: translateX(0px);
}
.drawer-open.active::before{
    transition: all .5s;
    transform: rotateY(180deg) translateX(-260px);
    box-shadow: none;
}
.drawer-open::before{
    transition: all .5s;
    transform: translateX(0px);
}