.form .item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--m);
}
.form .item input{
    display: block;
    width: 100%;
    height: calc(var(--p)*3);
    padding: var(--p);
    cursor: pointer;
    border: 1px solid var(--gray);
}
.form .item input:focus{
    outline: none;
    border: 1px solid var(--gray);
    box-shadow: 0 0 5px var(--gray);
}
.form .item label{
    display: block;
    width: 100%;
}