.btn,.btn-md{
    border: var(--border);
    border-radius: var(--border-radius);
    font-size: 1rem;
    padding: calc(var(--p)*1.5);
    border: none;
    cursor: pointer;
    margin-top: calc(var(--m)*.25);
    margin-bottom: calc(var(--m)*.25);
    min-width: 90px !important;
    text-align: center;
    display: inline-block;
    font-weight: normal;
}
.btn-sm{
    padding: calc(var(--p)*.75);
    font-size: .9rem;
    min-width: 60px;
}
.btn-lg{
    padding: calc(var(--p)*2.25);
    font-size: 1.45rem;
    min-width: 120px;
}
.btn:hover{
    filter: brightness(97.5%);
}
.btn:active{
    filter: brightness(95%);
}
.btn-block{
    width: 100%;
}