/* TEXT */
/* GRAY SCALE */
.text-white,.dark>*,.black>*,.red>*,.blue>*,.purple>*,.pink>*,.brown>*{ color: var(--white) !important; }
.text-light{ color: var(--light) !important; }
.text-gray{ color: var(--gray) !important; }
.text-dark{ color: var(--dark) !important; }
.text-black{ color: var(--black) !important; }
/* PRIMARY */
.text-green{ color: var(--green) !important; }
.text-red{ color: var(--red) !important; }
.text-yellow{ color: var(--yellow) !important; }
.text-blue{ color: var(--blue) !important; }
/* SECONDARY */
.text-orange{ color: var(--orange) !important; }
.text-purple{ color: var(--purple) !important; }
.text-sky{ color: var(--sky) !important; }
.text-pink{ color: var(--pink) !important; }
.text-brown{ color: var(--brown) !important; }

/* DIV */
/* GRAY SCALE */
.white, .white::before, .white::after{ background: var(--white) !important; }
.light, .light::before, .light::after{ background: var(--light) !important; }
.gray, .gray::before, .gray::after{ background: var(--gray) !important; }
.dark, .dark::before, .dark::after{ background: var(--dark) !important;     color: var(--white) !important; }
.black, .black::before, .black::after{background: var(--black) !important;  color: var(--white) !important; }
/* PRIMARY */
.green,  .green::before,  .green::after{ background: var(--green) !important;       color: var(--white) !important; }
.red,    .red::before,    .red::after{ background: var(--red) !important;           color: var(--white) !important; }
.yellow, .yellow::before, .yellow::after{ background: var(--yellow) !important; }
.blue,   .blue::before,   .blue::after{ background: var(--blue) !important;         color: var(--white) !important; }
/* SECONDARY */
.orange, .orange::before, .orange::after{ background: var(--orange) !important;     color: var(--white) !important; }
.purple, .purple::before, .purple::after{ background: var(--purple) !important;     color: var(--white) !important; }
.sky,    .sky::before,    .sky::after{ background: var(--sky) !important; }
.pink,   .pink:before,    .pink::after{ background: var(--pink) !important;         color: var(--white) !important; }
.brown,  .brown::before,  .brown::after{ background: var(--brown) !important;       color: var(--white) !important; }
/* PASTEL */
.l-green,  .l-green:before,   .l-green::after{ background: var(--l-green) !important;   color: var(--dark) !important; }
.l-red,    .l-red::before,    .l-red::after{ background: var(--l-red) !important;       color: var(--dark) !important; }
.l-yellow, .l-yellow::before, .l-yellow::after{ background: var(--l-yellow) !important; color: var(--dark) !important; }
.l-blue,   .l-blue::before,   .l-blue::after{ background: var(--l-blue) !important;     color: var(--dark) !important; }
.l-orange, .l-orange::before, .l-orange::after{ background: var(--l-orange) !important; color: var(--dark) !important; }
.l-purple, .l-purple::before, .l-purple::after{ background: var(--l-purple) !important; color: var(--dark) !important; }
.l-sky,    .l-sky::before,    .l-sky::after{ background: var(--l-sky) !important;       color: var(--dark) !important; }
.l-pink,   .l-pink::before,   .l-pink::after{ background: var(--l-pink) !important;     color: var(--dark) !important; }
.l-brown,  .l-brown::before,  .l-brown::after{ background: var(--l-brown) !important;   color: var(--dark) !important; }

/* ICONO */
body.dark p{
    color: var(--white);
}