.container{
    margin: auto;
}
.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--p);
}
.row>.col{
    grid-column: span 12;
}
/* DEFAULT */
/* xs = 0 -> + */
.row>.col-12,.row>.xs-12{ grid-column: span 12; }
.row>.col-11,.row>.xs-11{ grid-column: span 11; }
.row>.col-10,.row>.xs-10{ grid-column: span 10; }
.row>.col-9,.row>.xs-9{ grid-column: span 9; }
.row>.col-8,.row>.xs-8{ grid-column: span 8; }
.row>.col-7,.row>.xs-7{ grid-column: span 7; }
.row>.col-6,.row>.xs-6{ grid-column: span 6; }
.row>.col-5,.row>.xs-5{ grid-column: span 5; }
.row>.col-4,.row>.xs-4{ grid-column: span 4; }
.row>.col-3,.row>.xs-3{ grid-column: span 3; }
.row>.col-2,.row>.xs-2{ grid-column: span 2; }
.row>.col-1,.row>.xs-1{ grid-column: span 1; }
.row>.col-0,.row>.xs-0{ display: none; }
.container{ width: 98%; }

/* RESPONSIVE */
/* sm = 600 -> + */
@media (min-width : 600px) {
    .row>.sm-12{ grid-column: span 12; }
    .row>.sm-11{ grid-column: span 11; }
    .row>.sm-10{ grid-column: span 10; }
    .row>.sm-9{ grid-column: span 9; }
    .row>.sm-8{ grid-column: span 8; }
    .row>.sm-7{ grid-column: span 7; }
    .row>.sm-6{ grid-column: span 6; }
    .row>.sm-5{ grid-column: span 5; }
    .row>.sm-4{ grid-column: span 4; }
    .row>.sm-3{ grid-column: span 3; }
    .row>.sm-2{ grid-column: span 2; }
    .row>.sm-1{ grid-column: span 1; }
    .row>.sm-0{ display: none; }
    .container{ width: 95%; }
}
/* md = 900 -> + */
@media (min-width : 900px) {
    .row>.md-12{ grid-column: span 12; }
    .row>.md-11{ grid-column: span 11; }
    .row>.md-10{ grid-column: span 10; }
    .row>.md-9{ grid-column: span 9; }
    .row>.md-8{ grid-column: span 8; }
    .row>.md-7{ grid-column: span 7; }
    .row>.md-6{ grid-column: span 6; }
    .row>.md-5{ grid-column: span 5; }
    .row>.md-4{ grid-column: span 4; }
    .row>.md-3{ grid-column: span 3; }
    .row>.md-2{ grid-column: span 2; }
    .row>.md-1{ grid-column: span 1; }
    .row>.md-0{ display: none; }
    .container{ width: 90%; }
}
/* lg = 1100 -> + */
@media (min-width : 1100px) {
    .row>.lg-12{ grid-column: span 12; }
    .row>.lg-11{ grid-column: span 11; }
    .row>.lg-10{ grid-column: span 10; }
    .row>.lg-9{ grid-column: span 9; }
    .row>.lg-8{ grid-column: span 8; }
    .row>.lg-7{ grid-column: span 7; }
    .row>.lg-6{ grid-column: span 6; }
    .row>.lg-5{ grid-column: span 5; }
    .row>.lg-4{ grid-column: span 4; }
    .row>.lg-3{ grid-column: span 3; }
    .row>.lg-2{ grid-column: span 2; }
    .row>.lg-1{ grid-column: span 1; }
    .row>.lg-0{ display: none; }
    .container{ width: 80%; }
}
/* xl = 1300 -> + */
@media (min-width : 1300px) {
    .row>.xl-12{ grid-column: span 12; }
    .row>.xl-11{ grid-column: span 11; }
    .row>.xl-10{ grid-column: span 10; }
    .row>.xl-9{ grid-column: span 9; }
    .row>.xl-8{ grid-column: span 8; }
    .row>.xl-7{ grid-column: span 7; }
    .row>.xl-6{ grid-column: span 6; }
    .row>.xl-5{ grid-column: span 5; }
    .row>.xl-4{ grid-column: span 4; }
    .row>.xl-3{ grid-column: span 3; }
    .row>.xl-2{ grid-column: span 2; }
    .row>.xl-1{ grid-column: span 1; }
    .row>.xl-0{ display: none; }
    .container{ width: var(--container); }
}