.g-row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--p);
}
.g-row>.col{
    grid-column: span 12;
}
/* DEFAULT */
/* xs = 0 -> + */
.g-row>.g-col-12,.g-row>.xs-12{ grid-column: span 12; }
.g-row>.g-col-11,.g-row>.xs-11{ grid-column: span 11; }
.g-row>.g-col-10,.g-row>.xs-10{ grid-column: span 10; }
.g-row>.g-col-9,.g-row>.xs-9{ grid-column: span 9; }
.g-row>.g-col-8,.g-row>.xs-8{ grid-column: span 8; }
.g-row>.g-col-7,.g-row>.xs-7{ grid-column: span 7; }
.g-row>.g-col-6,.g-row>.xs-6{ grid-column: span 6; }
.g-row>.g-col-5,.g-row>.xs-5{ grid-column: span 5; }
.g-row>.g-col-4,.g-row>.xs-4{ grid-column: span 4; }
.g-row>.g-col-3,.g-row>.xs-3{ grid-column: span 3; }
.g-row>.g-col-2,.g-row>.xs-2{ grid-column: span 2; }
.g-row>.g-col-1,.g-row>.xs-1{ grid-column: span 1; }
.g-row>.g-col-0,.g-row>.xs-0{ display: none; }

/* RESPONSIVE */
/* sm = 600 -> + */
@media (min-width : 600px) {
    .g-row>.sm-12{ grid-column: span 12; }
    .g-row>.sm-11{ grid-column: span 11; }
    .g-row>.sm-10{ grid-column: span 10; }
    .g-row>.sm-9{ grid-column: span 9; }
    .g-row>.sm-8{ grid-column: span 8; }
    .g-row>.sm-7{ grid-column: span 7; }
    .g-row>.sm-6{ grid-column: span 6; }
    .g-row>.sm-5{ grid-column: span 5; }
    .g-row>.sm-4{ grid-column: span 4; }
    .g-row>.sm-3{ grid-column: span 3; }
    .g-row>.sm-2{ grid-column: span 2; }
    .g-row>.sm-1{ grid-column: span 1; }
    .g-row>.sm-0{ display: none; }
}
/* md = 900 -> + */
@media (min-width : 900px) {
    .g-row>.md-12{ grid-column: span 12; }
    .g-row>.md-11{ grid-column: span 11; }
    .g-row>.md-10{ grid-column: span 10; }
    .g-row>.md-9{ grid-column: span 9; }
    .g-row>.md-8{ grid-column: span 8; }
    .g-row>.md-7{ grid-column: span 7; }
    .g-row>.md-6{ grid-column: span 6; }
    .g-row>.md-5{ grid-column: span 5; }
    .g-row>.md-4{ grid-column: span 4; }
    .g-row>.md-3{ grid-column: span 3; }
    .g-row>.md-2{ grid-column: span 2; }
    .g-row>.md-1{ grid-column: span 1; }
    .g-row>.md-0{ display: none; }
}
/* lg = 1100 -> + */
@media (min-width : 1100px) {
    .g-row>.lg-12{ grid-column: span 12; }
    .g-row>.lg-11{ grid-column: span 11; }
    .g-row>.lg-10{ grid-column: span 10; }
    .g-row>.lg-9{ grid-column: span 9; }
    .g-row>.lg-8{ grid-column: span 8; }
    .g-row>.lg-7{ grid-column: span 7; }
    .g-row>.lg-6{ grid-column: span 6; }
    .g-row>.lg-5{ grid-column: span 5; }
    .g-row>.lg-4{ grid-column: span 4; }
    .g-row>.lg-3{ grid-column: span 3; }
    .g-row>.lg-2{ grid-column: span 2; }
    .g-row>.lg-1{ grid-column: span 1; }
    .g-row>.lg-0{ display: none; }
}
/* xl = 1300 -> + */
@media (min-width : 1300px) {
    .g-row>.xl-12{ grid-column: span 12; }
    .g-row>.xl-11{ grid-column: span 11; }
    .g-row>.xl-10{ grid-column: span 10; }
    .g-row>.xl-9{ grid-column: span 9; }
    .g-row>.xl-8{ grid-column: span 8; }
    .g-row>.xl-7{ grid-column: span 7; }
    .g-row>.xl-6{ grid-column: span 6; }
    .g-row>.xl-5{ grid-column: span 5; }
    .g-row>.xl-4{ grid-column: span 4; }
    .g-row>.xl-3{ grid-column: span 3; }
    .g-row>.xl-2{ grid-column: span 2; }
    .g-row>.xl-1{ grid-column: span 1; }
    .g-row>.xl-0{ display: none; }
}