*{
    font-weight: 300;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}
h1,h2,h3,h4,h5,h6,p,small,blockquote,cite{
    user-select: text;
}
small{
    font-size: .75rem;
}
p,blockquote,cite{
    font-size: 1rem;
}
h1{ font-size: 4rem; }
h2{ font-size: 3rem; }
h3{ font-size: 2.5rem; }
h4{ font-size: 2rem; }
h5{ font-size: 1.5rem; }
h6{ font-size: 1.25rem; }
a{
    transition: all .2s;
    text-decoration: none;
    color: var(--gray);
    font-weight: 500;
}
a:hover, a *:hover{
    transition: all .2s;
    cursor: pointer;
    filter: invert(.80);
}
/* LINK */
a.link{
    display: block;
}
a.link::after{
    content: " \0226b";
    font-weight: bolder;
    padding-left: 0;
}
a.link:hover::after{
    animation-name: link;
    animation-iteration-count: infinite;
    animation-duration: .3s;
    animation-direction: alternate;
}
@keyframes link {
    to{
        padding-left: 10px;
    }
}
/* ALIGMENTS */
.text-left{ text-align: left; }
.text-right{ text-align: right; }
.text-center{ text-align: center; }
/* OTHERS */
b,.b{ font-weight: bolder; }
i,.i{ font-style: italic; }
.important{ background: var(--yellow); }
.underline{ text-decoration: underline; }
.overline{ text-decoration: overline; }
.line{ text-decoration: line-through; }
/* SIZE */
.text-1{ font-size: .1rem; }
.text-2{ font-size: .2rem; }
.text-3{ font-size: .3rem; }
.text-4{ font-size: .4rem; }
.text-5{ font-size: .5rem; }
.text-6{ font-size: .6rem; }
.text-7{ font-size: .7rem; }
.text-8{ font-size: .8rem; }
.text-9{ font-size: .9rem; }
.text-10{ font-size: 1rem; }
.text-11{ font-size: 1.1rem; }
.text-12{ font-size: 1.2rem; }
.text-13{ font-size: 1.3rem; }
.text-14{ font-size: 1.4rem; }
.text-15{ font-size: 1.5rem; }
.text-16{ font-size: 1.6rem; }
.text-17{ font-size: 1.7rem; }
.text-18{ font-size: 1.8rem; }
.text-19{ font-size: 1.9rem; }
.text-20{ font-size: 2rem; }
/* CODE */
.code{
    padding: calc(var(--p)*3);
}
.code .code-content{
    overflow-x: auto;
}
.code .code-content code{
    cursor: text;
    user-select: text !important;
}