.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown button::after{
    content: "\025bc";
    padding-left: var(--p);
}
.dropdown-content{
    display: none;
    position: absolute;
    text-align: center;
    min-width: 105px;
    z-index: 1;
    border-radius: 3px;
    border: 1px solid var(--gray);
}
.dropdown-content .dropdown-item{
    cursor: pointer;
}
.dropdown-content .dropdown-item a{
    display: block;
    cursor: pointer;
    padding: var(--p);
}
.dropdown-content .dropdown-item a:active{
    background-color: var(--gray);
}
.dropdown-content .dropdown-item:hover{
    background-color: var(--light);
}
.dropdown:hover .dropdown-content{
    display: block;
}
