.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown *{
    cursor: pointer;
}
.dropdown .dropdown-open:after{
    content: " \025bc";
    opacity: .5;
}
.dropdown .content{
    border: var(--border);
    border-radius: var(--border-radius);
    position: absolute;
    overflow: hidden;
    transition: all .5s;
    visibility: hidden;
    height: 0;
}
.dropdown .content .item{
    cursor: pointer;
    min-width: 120px;
}
.dropdown .content .item{
    display: block;
    cursor: pointer;
    padding: var(--p);
}
.dropdown .content .item:hover{
    background-color: var(--light);
}
.dropdown:hover .content{
    transition: all .5s;
    visibility: visible;
    height: 100%;
}
