<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table</title>

    <link rel="stylesheet" href="../basic/general.css">
    <link rel="stylesheet" href="../basic/grid.css">
    <link rel="stylesheet" href="../basic/space.css">
    <link rel="stylesheet" href="../basic/color.css">
    <link rel="stylesheet" href="../basic/text.css">
    <link rel="stylesheet" href="../basic/btn.css">

    <!-- INSERT STYLE -->
    <link rel="stylesheet" href="table.css">
</head>
<body>
    
    <!-- TABLE -->
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Abel</td>
                <td>Maldonado</td>
                <td>23</td>
                <td>@abel</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Lolo</td>
                <td></td>
                <td>15</td>
                <td>@lolo</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Diego</td>
                <td>Caldoreon</td>
                <td>16</td>
                <td>@diegoss</td>
            </tr>
            <tr>
                <th>1</th>
                <td>Abel</td>
                <td>Maldonado</td>
                <td>23</td>
                <td>@abel</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Lolo</td>
                <td></td>
                <td>15</td>
                <td>@lolo</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Diego</td>
                <td>Caldoreon</td>
                <td>16</td>
                <td>@diegoss</td>
            </tr>
        </tbody>
    </table>

    <!-- INSERT SCRIPT -->
    

</body>
</html>