.form{
    display: block;
    border: var(--border);
    border-radius: var(--border-radius);
    /* box-shadow: var(--shadow); */
    padding: calc(var(--p)*2);
}
/* INPUT TEXT, MAIL, PASS */
input{
    border: var(--border);
    border-radius: var(--border-radius);
    width: 100%;
    padding: var(--p);
    font-size: 1rem;
    background-color: var(--light);
    margin-bottom: var(--m);
}
input:focus, select:focus, input:hover, select:hover{
    outline: none;
    filter: brightness(97.5%);
    cursor: pointer;
}
/* SELECT */
select{
    display: block;
    border: var(--border);
    border-radius: var(--border-radius);
    width: 100%;
    padding: var(--p);
    font-size: 1rem;
    background: var(--light);
    color: var(--gray);
    margin-bottom: var(--m);
}
/* CHECK Y RADIO */
input[type="checkbox"], input[type="radio"]{
    display: none !important;
}
.radio, .check{
    /* color: var(--dark); */
    padding: 5px 15px 5px 33px;
    display: block;
    position: relative;
}
.radio:hover, .check:hover{
    /* background: var(--light); */
    cursor: pointer;
}
.radio::before, .check::before{
    content: "";
    width: 12px;
    height: 12px;
    display: block;
    background: none;
    border: 1px solid var(--notify-solid);
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 8px;
}
.radio::before{
    border-radius: 50%;
}
.check::before{
    border-radius: 3px;
}
input[type="radio"]:checked + label::after, input[type="checkbox"]:checked + label::after{
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    background: var(--notify-bg);
    position: absolute;
    left: 13px;
    top: 11px;
}
input[type="radio"]:checked + label::after{
    border-radius: 50%;
}
input[type="checkbox"]:checked + label::after{
    border-radius: 0;
}