.footer{
    height: auto;
    padding-top: calc(var(--p)*4);
    border-top-left-radius: var(--border-radius);
    box-shadow: var(--shadow);
}
.footer .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer .title{
    font-weight: 400;
    text-transform: capitalize;
}
.footer .container p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
}
.footer .socials{
    margin: var(--m);
}
.footer .socials a{
    margin: var(--m);
}


.copyright{
    padding: calc(var(--p)*2);
    text-align: center;
}
.copyright p{
    text-transform: capitalize;
}