.footer{
    width: 100%;
    margin: var(--margin);
    box-shadow: var(--shadow);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.footer .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer .brand img{
    width: 50%;
}
.footer .description{
    max-width: 350px;
    margin-top: calc(var(--m)*2);
    font-weight: 500;
    font-size: 18px;
}
.footer .title-footer{
    margin-bottom: var(--m);
    font-weight: 700;
}
.footer a{
    margin-top: var(--m);
    /* color: var(--gray); */
    font-weight: 600;
    transition: all .5s;
}
.footer .socials a{
    margin: var(--m);
}


.copyright{
    padding: calc(var(--p)*2);
    text-align: center;
}
.copyright p{
    /* color: var(--gray); */
    z-index: 100000;
}