<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listas</title>

    <link rel="stylesheet" href="../basic/general.css">
    <link rel="stylesheet" href="../basic/grid.css">
    <link rel="stylesheet" href="../basic/space.css">
    <link rel="stylesheet" href="../basic/color.css">
    <link rel="stylesheet" href="../basic/text.css">
    <link rel="stylesheet" href="../basic/btn.css">

    <!-- INSERT STYLE -->
    <link rel="stylesheet" href="list.css">
    
</head>
<body>
    
    <!-- LIST -->
    <div class="container pt-9">

        <ul class="list l-green">
            <li class="item" data-notify="13">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, eligendi.</li>
            <li class="item" data-notify="1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, eligendi.</li>
            <li class="item" data-notify="999">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, eligendi.</li>
        </ul>
    
        <div class="p-1"></div>
    
        <ol class="list l-yellow">
            <li class="item" data-notify="13">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, eligendi.</li>
            <li class="item" data-notify="1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, eligendi.</li>
            <li class="item" data-notify="999">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, eligendi.</li>
        </ol>

    </div>
        
    <!-- INSERT SCRIPT -->
    

</body>
</html>