.btn,.btn-md{
    font-size: .8rem;
    padding: calc(var(--p)*1.5);
    border: none;
    cursor: pointer;
    margin-top: calc(var(--m)*.25);
    margin-bottom: calc(var(--m)*.25);
    min-width: 90px;
    text-align: center;
}
.btn-sm{
    padding: calc(var(--p)*.75);
    font-size: .7rem;
    min-width: 60px;
}
.btn-lg{
    padding: calc(var(--p)*2.25);
    font-size: 1.25rem;
    min-width: 120px;
}
.btn:hover{
    filter: brightness(90%);
}
.btn:active{
    filter: brightness(75%);
}
.btn-block{
    width: 100%;
}