:root{
    /* COLORS */
    /* GRAY SCALE */
    --white: rgb(255, 255, 255);
    --light: rgb(249, 249, 251);
    --gray: rgb(119, 108, 100);
    --dark: rgb(80, 80, 80);
    --black: rgb(0, 0, 0);
    /* PRIMARY */
    --green: rgb(62, 224, 156);
    --red: rgb(241, 41, 15);
    --yellow: rgb(255, 210, 0);
    --blue: rgb(48, 158, 255);
    /* SECONDARY */
    --orange: rgb(255, 145, 68);
    --purple: rgb(125, 66, 218);
    --sky: rgb(59, 218, 229);
    --pink: rgb(247, 56, 89);
    --brown: rgb(136, 64, 17);
    /* PASTEL */
    --l-green: rgb(236, 246, 229);
    --l-red: rgb(255, 203, 209);
    --l-yellow: rgb(247, 238, 199);
    --l-blue: rgb(230, 240, 255);
    --l-orange: rgb(243, 192, 156);
    --l-purple: rgb(190, 150, 219);
    --l-sky: rgb(220, 243, 255);
    --l-pink: rgb(241, 165, 206);
    --l-brown: rgb(238, 236, 253);
    /* NOTIFY */
    --notify-bg: rgb(255, 145, 68);
    --notify-text: rgb(255, 255, 255);

    /* BORDER - LINE */
    --line: 1px;
    /* SPACE */
    --p: 10px;
    --m: 10px;
    /* RESPONSIVE - NO FUNCTIONAL */
    --xl: 1300px;
    --lg: 1100px;
    --md: 900px;
    --sm: 600px;
    --xs: 0px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    user-select: none;
}
html,body{
    font-size: 15px;
    max-width: 100vw;
    max-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}