h1,h2,h3,h4,h5,h6,p,small,blockquote,cite{
    user-select: text;
}
p,small,blockquote,cite{
    font-size: 1rem;
}
h1{ font-size: 4rem; }
h2{ font-size: 3rem; }
h3{ font-size: 2.5rem; }
h4{ font-size: 2rem; }
h5{ font-size: 1.5rem; }
h6{ font-size: 1.25rem; }
a{
    text-decoration: none;
    color: var(--gray);
    font-weight: 500;
}
a:hover, a *:hover{
    cursor: pointer;
    color: var(--black);
}

/* ALIGMENTS */
.text-left{ text-align: left; }
.text-right{ text-align: right; }
.text-center{ text-align: center; }

/* OTHERS */
.b{ font-weight: bolder; }
.i{ font-style: italic; }
.important{ background: var(--yellow); }
.underline{ text-decoration: underline; }
.overline{ text-decoration: overline; }
.line{ text-decoration: line-through; }