.card{
    border: var(--border);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    box-shadow: var(--shadow);
    overflow: hidden;
}
.card .header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.card .header *{
    width: 100%;
}
.card .body{
    display: block;
    width: 100%;
    height: 50%;
    padding: calc(var(--p)*2);
    position: absolute;
    top: 50%;
}
.card .body *{
    display: block;
    text-align: center;
    margin: auto;
}

[data-animation="auto"].card .header{
    transition: all .5s;
}
[data-animation="auto"].card .header:hover{
    transition: all .5s;
    width: 200%;
    height: 100%;
}
[data-animation="auto"].card .body{
    transition: all .5s;
}
[data-animation="auto"].card .header:hover + .body{
    transition: all .5s;
    top: 100%;
}