.select{
    transition: all .5s;
    display: block;
    width: 100%;
    height: calc(var(--p)*4);
    padding: calc(var(--p)/2);
    cursor: pointer;
    border: 1px solid var(--gray);
    outline: none;
    font-size: 15px;
    margin: var(--m) 0;
    outline: none;
}
.select:focus{
    border: 1px solid var(--gray);
    box-shadow: 0 0 5px var(--gray);
}

