.footer{
    padding-top: calc(var(--p)*7);
    padding-bottom: calc(var(--p)*9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer .item{
    margin-top: calc(var(--m)*4);
}