<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>

    <link rel="stylesheet" href="../basic/general.css">
    <link rel="stylesheet" href="../basic/grid.css">
    <link rel="stylesheet" href="../basic/space.css">
    <link rel="stylesheet" href="../basic/color.css">
    <link rel="stylesheet" href="../basic/text.css">
    <link rel="stylesheet" href="../basic/image.css">
    <link rel="stylesheet" href="../basic/btn.css">

    <!-- INSERT STYLE -->
    <link rel="stylesheet" href="footer.css">

</head>
<body>
    
    <!-- FOOTER -->
    <footer class="footer light">
        <h3 class="item">Mandarina</h3>
        <p class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas itaque possimus dolore impedit veniam. 
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore inventore ipsa repudiandae facere repellat expedita 
            dignissimos labore libero incidunt architecto!</p>
        <div class="item">
            <a href="#" class="mx-1">Facebook</a>
            <a href="#" class="mx-1">Intagram</a>
            <a href="#" class="mx-1">Twiter</a>
            <a href="#" class="mx-1">Youtube</a>
            <a href="#" class="mx-1">Linkedin</a>
        </div>
        <div class="item">
            <small>Copyright &copy; 2021 Mandarina. Designed by <b>MANDARINA</b></small>
        </div>
    </footer>

    <footer class="footer light">
        <div class="container">
            <h3 class="item">Mandarina</h3>
            <p class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas itaque possimus dolore impedit veniam. 
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore inventore ipsa repudiandae facere repellat expedita 
                dignissimos labore libero incidunt architecto!</p>
            <div class="item">
                <a href="#" class="mx-1">Facebook</a>
                <a href="#" class="mx-1">Intagram</a>
                <a href="#" class="mx-1">Twiter</a>
                <a href="#" class="mx-1">Youtube</a>
                <a href="#" class="mx-1">Linkedin</a>
            </div>
            <div class="item">
                <small>Copyright &copy; 2021 Mandarina. Designed by <b>MANDARINA</b></small>
            </div>
        </div>
    </footer>

    <!-- INSERT SCRIPT -->
    <script src="../basic/Mandarina.js"></script>

</body>
</html>