<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/brand/gajo.ico" type="image/x-icon">
    <title>Product</title>

    <link rel="stylesheet" href="../basic/general.css">
    <link rel="stylesheet" href="../basic/flex.css">
    <link rel="stylesheet" href="../basic/grid.css">
    <link rel="stylesheet" href="../basic/space.css">
    <link rel="stylesheet" href="../basic/color.css">
    <link rel="stylesheet" href="../basic/text.css">
    <link rel="stylesheet" href="../basic/image.css">
    <link rel="stylesheet" href="../basic/btn.css">

    <!-- INSERT STYLE -->
    <link rel="stylesheet" href="../alert/alert.css">
    <link rel="stylesheet" href="../breadcrumb/breadcrumb.css">
    <link rel="stylesheet" href="../card/card.css">
    <link rel="stylesheet" href="../caption/caption.css">
    <link rel="stylesheet" href="../control/control.css">
    <link rel="stylesheet" href="../drawer/drawer.css">
    <link rel="stylesheet" href="../dropdown/dropdown.css">
    <link rel="stylesheet" href="../form/form.css">
    <link rel="stylesheet" href="../list/list.css">
    <link rel="stylesheet" href="../modal/modal.css">
    <link rel="stylesheet" href="../navbar/navbar.css">
    <link rel="stylesheet" href="../pagination/pagination.css">
    <link rel="stylesheet" href="../slider/slider.css">
    <link rel="stylesheet" href="../spinner/spinner.css">
    <link rel="stylesheet" href="../tab/tab.css">
    <link rel="stylesheet" href="../table/table.css">
    <link rel="stylesheet" href="../title/title.css">
    <link rel="stylesheet" href="../tool/tool.css">
    <link rel="stylesheet" href="../footer/footer.css">
    <link rel="stylesheet" href="../article/article.css">

    <link rel="stylesheet" href="product.css">
    
</head>
<body>
    
    <!--  -->
    <div class="container py-6">
        <div class="row">
            <div class="col md-12">
                <div class="product shadow" data-height="400px">
                    <div class="product-img">
                        <img src="../../images/product/planta.png" alt="">
                    </div>
                    <div class="product-content text-center">
                        <h2>Titulo</h2>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae eum at atque. 
                            Voluptas similique atque dolorum magnam reprehenderit iusto quos ducimus ex recusandae
                        </p>
                        <a href="#" class="link pt-1">Ver mas</a>
                    </div>
                    <div class="product-buy">
                        <div>
                            <h6>Mandarina</h6>
                            <p>20$</p>
                        </div>
                        <div class="shopping-cart">
                            <p>🛒</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col md-6">
                <div class="product shadow" data-height="400px">
                    <div class="product-img">
                        <img src="../../images/product/planta.png" alt="">
                    </div>
                    <div class="product-content text-center">
                        <h2>Titulo</h2>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae eum at atque. 
                            Voluptas similique atque dolorum magnam reprehenderit iusto quos ducimus ex recusandae
                        </p>
                        <a href="#" class="link pt-1">Ver mas</a>
                    </div>
                    <div class="product-buy">
                        <div>
                            <h6>Mandarina</h6>
                            <p>20$</p>
                        </div>
                        <div class="shopping-cart failure">
                            <p>🛒</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col md-6">
                <div class="product shadow" data-height="400px">
                    <div class="product-img">
                        <img src="../../images/third/fruts/mandarina.jpg" alt="">
                    </div>
                    <div class="product-content text-center">
                        <h2>Titulo</h2>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae eum at atque. 
                            Voluptas similique atque dolorum magnam reprehenderit iusto quos ducimus ex recusandae
                        </p>
                        <a href="#" class="link pt-1">Ver mas</a>
                    </div>
                    <div class="product-buy">
                        <div>
                            <h6>Mandarina</h6>
                            <p>20$</p>
                        </div>
                        <div class="shopping-cart success">
                            <p>🛒</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- INSERT SCRIPT -->
    <script src="../basic/Mandarina.js"></script>
    <script src="../alert/Alert.js"></script>
    <script src="../navbar/Navbar.js"></script>
    <script src="../drawer/Drawer.js"></script>
    <script src="../modal/Modal.js"></script>
    <script src="../slider/Slider.js"></script>
    <script src="../tab/Tab.js"></script>
    <script src="../spinner/Spinner.js"></script>

</body>
</html>