<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../images/brand/gajo.ico" type="image/x-icon">
    <title>Product</title>

    <link rel="stylesheet" href="../basic/general.css">
    <link rel="stylesheet" href="../basic/flex.css">
    <link rel="stylesheet" href="../basic/grid.css">
    <link rel="stylesheet" href="../basic/space.css">
    <link rel="stylesheet" href="../basic/color.css">
    <link rel="stylesheet" href="../basic/text.css">
    <link rel="stylesheet" href="../basic/btn.css">

    <!-- INSERT STYLE -->
    <link rel="stylesheet" href="product.css">
    
</head>
<body>
    
    <!--  -->
    <div class="p-4"></div>
    <div class="row">
        <div class="col md-3">
            <div class="product" data-height="400px">
                <div class="product-header">
                    <img src="../../images/third/fruts/mandarina.jpg" alt="">
                </div>
                <div class="product-body">
                    <h4>Mandarina</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet vero veniam adipisci 
                        incidunt possimus nihil explicabo officia vitae et nobis? Reiciendis laborum esse 
                        aperiam qui maxime placeat temporibus eum ad!</p>
                </div>
                <div class="product-footer">
                    <div class="details">
                        <h6>Mandarina</h6>
                        <p>$20</p>
                    </div>
                    <div class="buy success">
                        <p class="text-15">🛒</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col md-3">
            <div class="product" data-height="400px">
                <div class="product-header">
                    <img src="../../images/third/fruts/mandarina.jpg" alt="">
                </div>
                <div class="product-footer">
                    <div class="details">
                        <h6>Mandarina</h6>
                        <p>$20</p>
                    </div>
                    <div class="buy failure">
                        <p class="text-15">🛒</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col md-3">
            <div class="product" data-height="400px">
                <div class="product-header">
                    <img src="../../images/third/fruts/mandarina.jpg" alt="">
                </div>
                <div class="product-footer">
                    <div class="details">
                        <h6>Mandarina</h6>
                        <p>$20</p>
                    </div>
                    <div class="buy">
                        <p class="text-15">🛒</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col md-3">
            <div class="product" data-height="400px">
                <div class="product-header">
                    <img src="../../images/third/fruts/mandarina.jpg" alt="">
                </div>
                <div class="product-footer">
                    <div class="details">
                        <h6>Mandarina</h6>
                        <p>$20</p>
                    </div>
                    <div class="buy">
                        <p class="text-15">🛒</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- INSERT SCRIPT -->
    <script src="../basic/Mandarina.js"></script>

</body>
</html>