.product{
    border: var(--border);
    border-radius: var(--border-radius);
    width: 100%;
    overflow: hidden;
    position: relative;
}
/* PRODUCT HEADER */
.product .product-header{
    width: 100%;
    height: 80%;
}
.product .product-header *{
    width: 100%;
}
/* PRODUCT BODY */

.product-body{
    width: 100%;
    height: 80%;
    text-align: center;
    position: absolute;
    transform: translateY(-80%);
    padding: var(--p);
    background-color: var(--light);
    z-index: 10;
    transition: all 1s;
}
.product:hover>.product-body{
    animation-name: product-info;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1s;
    transition: all 1s;
}

/* PRODUCT FOOTER */
.product .product-footer{
    width: 100%;
    height: 20%;
    position: absolute;
    top: 80%;
    display: flex;
}
.product .details{
    width: 80%;
    padding: calc(var(--p)*2);
}
.product .buy{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: var(--border);
    transition: all .5s;
    cursor: pointer;
}
.product .buy *{
    cursor: pointer;
}
/* EXITOSO */
.product .buy.success *{
    display: none;
}
.product .buy.success::before{
    display: flex;
    justify-content: center;
    align-items: center;
    content: "✔️";
    font-size: 20px;
}
/* FALLIDO */
.product .buy.failure *{
    display: none;
}
.product .buy.failure::before{
    display: flex;
    justify-content: center;
    align-items: center;
    content: "❌";
    font-size: 20px;
}
/* HOVERS */
.product .buy:hover{
    background-color: var(--notify);
}
.product  .buy.success:hover{
    background-color: var(--green);
}
.product .buy.failure:hover{
    background-color: var(--red);
}

/* KEY FRAMES */
@keyframes product-info {
    0%{
        top: -80%;
    }
    25%{
        top: 0;
    }
    50%{
        top: -5%;
    }
    75%{
        top: 0;
    }
    90%{
        top: -1%;
    }
    100%{
        top: 0;
        transition: all 1s;
    }
}