<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>

    <link rel="stylesheet" href="../basic/general.css">
    <link rel="stylesheet" href="../basic/flex.css">
    <link rel="stylesheet" href="../basic/grid.css">
    <link rel="stylesheet" href="../basic/space.css">
    <link rel="stylesheet" href="../basic/color.css">
    <link rel="stylesheet" href="../basic/text.css">
    <link rel="stylesheet" href="../basic/image.css">
    <link rel="stylesheet" href="../basic/btn.css">

    <!-- INSERT STYLE -->
    <link rel="stylesheet" href="modal.css">
</head>
<body>
    
    <!-- MODAL -->
    <div class="container my-9">

        <button class="btn l-orange modal-open" data-target="#modal1">Modal</button>
        <div class="modal" id="modal1">
            <div class="content">
                <div class="modal-header">
                    <h5>Modal 1</h5>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, sunt?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn l-red modal-close">Cancelar</button>
                    <button class="btn l-green modal-close">Aceptar</button>
                </div>
            </div>
        </div>

    </div>

    <!-- INSERT SCRIPT -->
    <script src="../basic/Mandarina.js"></script>
    <script src="Modal.js"></script>

</body>
</html>