/* default */
.tooltip + .tooltip-content{
    visibility: hidden;
    background-color: var(--dark);
    color: white;
    padding: var(--p);
    position: relative;
    font-size: 12px;
    top: -45px;
    left: -90px;
    border-radius: 3px;
    text-align: center;
}
.tooltip:hover + .tooltip-content{
    visibility: visible;
}
.tooltip + .tooltip-content::after{
    content: "\025bc";
    position: relative;
    color: var(--dark);
    top: 21px;
    left: -30px;
}


/* top */
.tooltip.top + .tooltip-content::after{
    content: "\025bc";
    top: 21px;
    left: -30px;
}
.tooltip.top + .tooltip-content{
    top: -50px;
    left: -90px;
}

/* left */

.tooltip.left + .tooltip-content::after{
    content: "\025b6";
    top: 0;
    left: 18px;
}
.tooltip.left + .tooltip-content{
    top: 0;
    left: -190px;
}

/* botton */

.tooltip.botton + .tooltip-content::after{
    content: "\025b2";
    top: -23px;
    left: -35px;
}
.tooltip.botton + .tooltip-content{
    top: 55px;
    left: -105px;
}

/* rigth */

.tooltip.rigth + .tooltip-content::after{
    content: "\025c0";
    top: 0;
    left: -83px;
}
.tooltip.rigth + .tooltip-content{
    top: 0;
    left: 10px;
}