.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown *{
    cursor: pointer;
}
.dropdown-open{
    color: var(--gray);
    font-weight: 500;
}
.dropdown .dropdown-open:after{
    content: " \025bc";
    font-size: .8rem;
    opacity: .5;
}
.dropdown .content{
    border: var(--border);
    border-radius: var(--border-radius);
    position: absolute;
    height: auto;
    overflow: hidden;
    z-index: 1000000;
    width: 100%;
    left: 0;
    top: 40px;
    min-width: 175px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity .25s, transform .25s;
}
.dropdown .content .item{
    min-width: 100px;
    display: block;
    padding: var(--p);
    background: var(--white);
    border-bottom: 1px solid var(--light);
}
.dropdown .content .item:hover{
    background: var(--light);
}
.dropdown:hover .content, .dropdown:active .content{
    visibility: visible;
    opacity: 1;
    transform: translateY(10px);
    transition: opacity .25s, transform .25s;
}
