.tab{
    display: block;
    width: 100%;
    border-radius: var(--border-radius);
    border-radius: var(--border-radius);
}
.tab.shadow{
    box-shadow: none !important;
}
.tab.shadow .tab-body{
    overflow-y: hidden;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: var(--shadow);
}
.tab .tab-header{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.tab .tab-body{
    display: block;
    width: 100%;
}
.tab .tab-header .tab-open{
    width: 100%;
    text-align: center;
    padding: var(--p);
    cursor: pointer;
    transition: all .25s;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background: var(--light);
    z-index: 10;
}
.tab .tab-header .tab-open:hover{
    filter: brightness(97.5%);
}
.tab .tab-header .tab-open.active{
    background: var(--l-notify)!important;
}
.tab .tab-body .tab-content{
    display: none;
}
.tab .tab-body .tab-content.active{
    display: block;
}