.alert{
    border: var(--border);
    border-radius: var(--border-radius);
    padding: calc(var(--p)*2);
    position: relative;
    cursor: pointer;
    margin-top: var(--m);
}
.alert *{
    cursor: pointer;
    color: var(--dark);
}
.alert.alert-close{
    transition: all .5s;
    opacity: 0%;
}

