<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>

    <link rel="stylesheet" href="../basic/general.css">
    <link rel="stylesheet" href="../basic/flex.css">
    <link rel="stylesheet" href="../basic/grid.css">
    <link rel="stylesheet" href="../basic/space.css">
    <link rel="stylesheet" href="../basic/color.css">
    <link rel="stylesheet" href="../basic/text.css">
    <link rel="stylesheet" href="../basic/image.css">
    <link rel="stylesheet" href="../basic/btn.css">

    <!-- INSERT STYLE -->
    <link rel="stylesheet" href="alert.css">
</head>
<body>
    
    <!-- alert -->
    <div class="container pt-9">

        <div class="alert l-yellow">
            <b class="text-13">Titulo de la alerta</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum mollitia laudantium id alias ea sint possimus sequi accusamus ullam. 
            Quis cumque pariatur recusandae est qui beatae alias laudantium et eius?</p>
        </div>
    
    </div>

    <!-- INSERT SCRIPT -->
    <script src="../basic/Mandarina.js"></script>
    <script src="alert.js"></script>

</body>
</html>