.container{
    width: 80%;
    margin: auto;
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}
.col{
    display: block;
    padding: var(--p);
    min-height: 100%;
}
/* DEFAULT */
/* xs = 0 -> + */
.col-12,.xs-12{ display: block; width: calc(100%*12/12); }
.col-11,.xs-11{ display: block; width: calc(100%*11/12); }
.col-10,.xs-10{ display: block; width: calc(100%*10/12); }
.col-9,.xs-9{ display: block; width: calc(100%*9/12); }
.col-8,.xs-8{ display: block; width: calc(100%*8/12); }
.col-7,.xs-7{ display: block; width: calc(100%*7/12); }
.col-6,.xs-6{ display: block; width: calc(100%*6/12); }
.col-5,.xs-5{ display: block; width: calc(100%*5/12); }
.col-4,.xs-4{ display: block; width: calc(100%*4/12); }
.col-3,.xs-3{ display: block; width: calc(100%*3/12); }
.col-2,.xs-2{ display: block; width: calc(100%*2/12); }
.col-1,.xs-1{ display: block; width: calc(100%*1/12); }
.col-0,.xs-0{ display: none; }

/* RESPONSIVE */
/* sm = 500 -> + */
@media (min-width : 600px) {
    .sm-12{ display: block; width: calc(100%*12/12); }
    .sm-11{ display: block; width: calc(100%*11/12); }
    .sm-10{ display: block; width: calc(100%*10/12); }
    .sm-9{ display: block; width: calc(100%*9/12); }
    .sm-8{ display: block; width: calc(100%*8/12); }
    .sm-7{ display: block; width: calc(100%*7/12); }
    .sm-6{ display: block; width: calc(100%*6/12); }
    .sm-5{ display: block; width: calc(100%*5/12); }
    .sm-4{ display: block; width: calc(100%*4/12); }
    .sm-3{ display: block; width: calc(100%*3/12); }
    .sm-2{ display: block; width: calc(100%*2/12); }
    .sm-1{ display: block; width: calc(100%*1/12); }
    .sm-0{ display: none; }
}
/* md = 900 -> + */
@media (min-width : 900px) {
    .md-12{ display: block; width: calc(100%*12/12); }
    .md-11{ display: block; width: calc(100%*11/12); }
    .md-10{ display: block; width: calc(100%*10/12); }
    .md-9{ display: block; width: calc(100%*9/12); }
    .md-8{ display: block; width: calc(100%*8/12); }
    .md-7{ display: block; width: calc(100%*7/12); }
    .md-6{ display: block; width: calc(100%*6/12); }
    .md-5{ display: block; width: calc(100%*5/12); }
    .md-4{ display: block; width: calc(100%*4/12); }
    .md-3{ display: block; width: calc(100%*3/12); }
    .md-2{ display: block; width: calc(100%*2/12); }
    .md-1{ display: block; width: calc(100%*1/12); }
    .md-0{ display: none; }
}
/* lg = 1100 -> + */
@media (min-width : 1100px) {
    .lg-12{ display: block; width: calc(100%*12/12); }
    .lg-11{ display: block; width: calc(100%*11/12); }
    .lg-10{ display: block; width: calc(100%*10/12); }
    .lg-9{ display: block; width: calc(100%*9/12); }
    .lg-8{ display: block; width: calc(100%*8/12); }
    .lg-7{ display: block; width: calc(100%*7/12); }
    .lg-6{ display: block; width: calc(100%*6/12); }
    .lg-5{ display: block; width: calc(100%*5/12); }
    .lg-4{ display: block; width: calc(100%*4/12); }
    .lg-3{ display: block; width: calc(100%*3/12); }
    .lg-2{ display: block; width: calc(100%*2/12); }
    .lg-1{ display: block; width: calc(100%*1/12); }
    .lg-0{ display: none; }
}
/* xl = 1300 -> + */
@media (min-width : 1300px) {
    .xl-12{ display: block; width: calc(100%*12/12); }
    .xl-11{ display: block; width: calc(100%*11/12); }
    .xl-10{ display: block; width: calc(100%*10/12); }
    .xl-9{ display: block; width: calc(100%*9/12); }
    .xl-8{ display: block; width: calc(100%*8/12); }
    .xl-7{ display: block; width: calc(100%*7/12); }
    .xl-6{ display: block; width: calc(100%*6/12); }
    .xl-5{ display: block; width: calc(100%*5/12); }
    .xl-4{ display: block; width: calc(100%*4/12); }
    .xl-3{ display: block; width: calc(100%*3/12); }
    .xl-2{ display: block; width: calc(100%*2/12); }
    .xl-1{ display: block; width: calc(100%*1/12); }
    .xl-0{ display: none; }
}