.container{
    width: 80%;
    margin: auto;
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}
.col{
    padding: var(--pad);
    min-height: 100%;
}
.col-12{
    width: calc(100%*12/12);
}
.col-11{
    width: calc(100%*11/12);
}
.col-10{
    width: calc(100%*10/12);
}
.col-9{
    width: calc(100%*9/12);
}
.col-8{
    width: calc(100%*8/12);
}
.col-7{
    width: calc(100%*7/12);
}
.col-6{
    width: calc(100%*6/12);
}
.col-5{
    width: calc(100%*5/12);
}
.col-4{
    width: calc(100%*4/12);
}
.col-3{
    width: calc(100%*3/12);
}
.col-2{
    width: calc(100%*2/12);
}
.col-1{
    width: calc(100%*1/12);
}