.table{
    display: table;
    width: 100%;
}
.table thead{
    display: table-header-group;
}
.table tbody tr:nth-child(odd){
    background-color: var(--white);
}
.table th, .table td{
    display: table-cell;
    padding: calc(var(--p)/2);
}
.table tbody{
    display: table-footer-group;
}