.pagination{
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
}
.pagination .item{
    padding: calc(var(--p)/2);
    width: 100%;
    z-index: 2;
    position: relative;
    text-align: center;
}

.pagination .item::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0px;
    transform: translate(-50%, -50%);
    height: 0px;
    background-color: var(--notify-bg);
    border-radius: 50%;
    transition: all .5s;
    z-index: -1;
}
.pagination .item:hover::before{
    width: 40px;
    height: 40px;
}

.pagination .item.prev::after{
    content: "\025c0";
    z-index: 2;
    color: var(--dark);
}
.pagination .item.next::after{
    content: "\025b6";
    z-index: 2;
    color: var(--dark);
}
.pagination .item:hover, .pagination .item:hover::after{
    color: var(--notify-text);
}